*~
fort.*
GIT.commands
src16/*.o
src16/*.mod
src16/makefile
src16/ggchem16
src16/*~
Static_*.dat
Static_*.bak
database.dat
.venv/
database.bak
paper
wheelhouse/
builddir/
TEA
TEA.*
TEAout*old
ggchem*.atm
ggchem*.pdf
Summer*
data/JANAF/a.out
data/JANAF/*~
data/JANAF/fitout*
data/JANAF/*.pdf
data/JANAF/*fitdata*
tools/kp.pdf
*.in
logfile
perform.dat
out.ps
phase*.png

*.mod
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
multinest/
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
test_cases/
var/
wheels/
test_output/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
taurex_ggchem/venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.vscode/settings.json
.DS_Store
.DS_Store
taurex_ggchem/glue/fort_ggchemmodule.c
taurex_ggchem/glue/fort_ggchem-f2pywrappers2.f90
taurex_ggchem/.vscode/settings.json
